@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  
    font-family: 'Mulish', sans-serif;
}

header {
    margin: 50px 135px 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    padding-left: 10px;
}

.logo h2 span {
    color: #FF5400;
}

.link ul {
    display: flex;
    align-items: center;

}

.link ul li {
    padding-right: 40px;
}

.link ul li a {
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}

.link ul li a span {
    color: #FF5400;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url(images/Group13.png);
    background-repeat: no-repeat;  
    max-width: 1170px;
    max-height: 500px;
    border-radius: 16px;
    margin:  0 auto;

    
}
.banner_content{
    text-align: center;
    padding: 150px 140px;
    color: #FFF;

}

.banner_content h1 {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 15px;
}

.banner_content p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form input {
    border-radius: 8px;
    background: #FFF;
    outline: none;
    border: none;
    padding: 16px;
    width: 175px;
}

.where {
    border-radius: 8px;
    background: #FFF;
    outline: none;
    border: none;
    padding: 16px;
    width: 175px;
}

.select {
    border-radius: 8px;
    background: #FFF;
    outline: none;
    border: none;
    padding: 16px;
    width: 175px;
}

.button {
    padding: 13px;
    width: 175px;
    border-radius: 8px;
    background: #FF5400;
    display: flex;
    align-items: center;

}

.btn {
    background: none;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;


}

.button span img {
    width: 24px;


}










/* Responsive Design */

@media screen and (max-width:576px) {
    header{
        margin: 10px;
    }
    nav {
        flex-direction: column;
        margin: 10px 0 20px;
        padding:0px;
    }
    .banner{
        padding: 10px;
        padding: 0px;
    }
    .form{
        flex-direction: column;
        gap: 10px;
    }
    .banner_content{
        padding: 20px;
    }
    .banner_content h1{
        font-size: 25px;
    }
    .link ul{
        flex-direction: column;
    }
    .where{
        width: 200px;
    }
    .select{
        width: 200px;
    }


}